.header__lang-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
    text-decoration-line: none;
}

.header__lang-link:first-of-type{
    margin-right: 18px;
    text-decoration-line: underline;
}

@media screen and (max-width: 568px){
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}
