.page{
    color: #ffffff;
    font-weight: 400;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 28px 0 24px;
    text-rendering: optimizeLegibility;
}


@media screen and (max-width: 568px){
    .page {
        padding: 16px 0 24px;
    }
}