.intro__list{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px){
    .intro__list {
    margin: 0 0 0 48px;
}
}

@media screen and (max-width: 984px){
    .intro__list {
        margin: 0  24px;
    }
}

@media screen and (max-width: 568px){
    .intro__list{
        margin: 0  16px;
    }
}