.page__content{
    margin-top: 56px;
    margin-bottom: 92px;
    padding: 0;
}

@media screen and (max-width: 1124px){
    .page__content {
        margin-top: 45px;
    }
}

@media screen and (max-width: 984px){
    .page__content {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 568px){
    .page__content {
        margin-top: 48px;
        margin-bottom: 64px;
    }
}