.header{
    max-width: 1184px;
    margin: 0;
    padding: 0 48px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

@media screen and (max-width: 984px){
    .header {
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 568px){
    .header {
        padding: 0 16px 0;
    }
}