.content__photo-grid{
    margin: 92px 48px 0;
}

@media screen and (max-width: 984px){
    .content__photo-grid{
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 568px){
    .content__photo-grid{
        margin: 64px 16px 0;
    }
}