.lead__title{
    max-width: 720px;
    margin: 0 auto 32px;
    padding: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 750px){
    .lead__title{
        font-size: 64px;
        line-height: 1.1;
        max-width: 500px;
    }
}


@media screen and (max-width: 568px){
    .lead__title{
        margin: 0 auto 16px;
        font-size: 40px;
        max-width: 288px;
    }
}