.footer__links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 568px) {
    .footer__links{
        flex-direction: column;
        align-items: flex-start;
    }
}