.lead__subtitle{
    max-width: 640px;
    margin: 0 auto 64px;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

@media screen and (max-width: 1124px){
    .lead__subtitle{
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 568px){
    .lead__subtitle{
        margin: 0 auto 40px;
        font-size: 16px;
        line-height: 1.25;
        max-width: 288px;
    }
}