.lead__subtitle{
    max-width: 640px;
    max-height: 72px;
    margin: 16px auto 32px;
    padding: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

@media screen and (max-width: 1124px){
    .lead__subtitle{
        margin: 16px auto 28px;
    }
}

@media screen and(max-width: 568px){
    .lead__subtitle{
        margin: 8px auto 28px;
        font-size: 16px;
        line-height: 20px;
    }
}