.place{
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
    grid-template-areas:
    "place__title place__website"
    "place__image place__text";
    gap: 48px 40px;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0 148px 80px;
}

@media screen and (max-width: 1124px) {
    .place{
        grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
        gap: 48px 32px;
        max-width: 928px;
        margin: 0 48px 80px;
        padding: 0;
    }
}

@media screen and (max-width: 984px) {
    .place{
        grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
        gap: 48px 28px;
        margin: 0 24px 72px;
    }
}


@media screen and (max-width: 740px) {
    .place{
        grid-template-columns:minmax(320px, 1fr);
        grid-template-rows:minmax(min-content, max-content);
        grid-template-areas:
        "place__title" 
        "place__website"
        "place__image" 
        "place__text";
        gap: 32px;
        margin: 0 0 50px;
    }
}

.place:last-of-type{
    margin-bottom: 0;
}
