.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    padding: 0 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 984px) {
    .footer{
        padding: 0 24px;
    }
}

@media screen and (max-width: 708px){
    .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 16px;
}
}