.place__website{
    display: flex;
    flex-direction: column;
    grid-area: place__website;
    align-self: flex-end;
}

@media screen and (max-width: 740px){
    .place__website{
        margin: 0 16px;
    }
}