.cover__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 740px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1124px){
    .cover__item {
        min-height: 640px;
    }
}

@media screen and (max-width: 984px){
    .cover__item {
        min-height: 480px;
    }
}

@media screen and (max-width: 568px){
    .cover__item {
        min-height: 200px;
    }
}


.cover__item::before{
    content: '';
    background: #2a2c2f;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.cover__item:hover::before{
    opacity: 0.8;
}